
/* GMAIL BLOCK */

.gmail_block {
    background: linear-gradient(180deg, rgba(131, 56, 236, 0.1), rgba(58, 134, 255, 0.1));
    padding: 100px 0;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 0, 110, 0.2);
}

.inner_gmail_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #3a86ff;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_gmail button {
    width: 100%;
    margin: 20px 0;
}

/* MOVE BLOCK */

.move_block {
    background: linear-gradient(180deg, rgba(58, 134, 255, 0.1), rgba(131, 56, 236, 0.1));
    padding: 100px 0;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(58, 134, 255, 0.2);
}

.parent_block {
    height: 500px;
    width: 500px;
    border: 2px solid #ff006e;
    position: relative;
    margin: 0 auto;
    background: rgba(255, 0, 110, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.inner_parent_block {
    height: 400px;
    width: 400px;
    border: 2px solid #3a86ff;
    border-radius: 18px;
    background: rgba(58, 134, 255, 0.05);
}

.child_block {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: red;
}



.inner_move_block {
    margin-top: 50px;
}

/*----ANALOG CLOCK-----*/

.clock {
    --clock-size: 360px;
    width: var(--clock-size);
    height: var(--clock-size);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    color: white;
}

.spike {
    position: absolute;
    width: 8px;
    height: 1px;
    background: #fff9;
    line-height: 20px;
    transform-origin: 50%;
    z-index: 5;
    inset: 0;
    margin: auto;
    font-style: normal;
    transform: rotate(var(--rotate)) translateX(var(--dail-size));
}
.spike:nth-child(5n+1) {
    box-shadow: -7px 0 #fff9;
}
.spike:nth-child(5n+1):after {
    content: attr(data-i);
    position: absolute;
    right: 22px;
    top: -10px;
    transition: 1s linear;
    transform: rotate(calc( var(--dRotate) - var(--rotate)));
}

.seconds {
    --dRotate: 0deg;
    --dail-size: calc((var(--clock-size)/ 2) - 8px);
    font-weight: 800;
    font-size: 18px;
    transform: rotate(calc( -1 * var(--dRotate)));
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s linear;
}

.minutes {
    --dail-size: calc((var(--clock-size)/ 2) - 65px);
    font-size: 16px;
    transform: rotate(calc( -1 * var(--dRotate)));
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s linear;
}

.stop-anim {
    transition: 0s linear;
}
.stop-anim .spike:after {
    transition: 0s linear !important;
}

.hour {
    font-size: 70px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.minute {
    font-size: 36px;
    font-weight: 900;
    position: absolute;
    background: #000;
    z-index: 10;
    right: calc(var(--clock-size)/ 4.5);
    top: 50%;
    transform: translateY(-50%);
}
.minute:after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    border-right: none;
    height: 50px;
    left: -10px;
    top: 50%;
    border-radius: 40px 0 0 40px;
    width: calc(var(--clock-size)/ 2.75);
    transform: translatey(-50%);
}


/*-------STOP WATCH------ */

.time {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #ff006e;
    margin-top: 40px;
}

.time_block {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.stopwatch {
    padding: 100px 0;
    background: linear-gradient(180deg, rgba(131, 56, 236, 0.1), rgba(58, 134, 255, 0.1));
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 0, 110, 0.2);
}

.time_buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
